.modal-dialog {
    width: 60%;
    max-width: 60%;
}

.custom__bg {
    background: #ffe6e6;
}

span.badge {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 24%;
    height: 25px;
    line-height: 17px;
    background: red;
}

section#loading__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.nullpricing {
    background: white;
    padding: 10px 15px;
    color: green;
    font-size: 18px;
    border-radius: 10px;
}
@media(max-width:1505px) and (min-width:600px){
    .modal-dialog {
        width: 80%;
        max-width: 80%;
    }
}

@media(max-width:576px){
    .modal-dialog {
        width: 80%;
        max-width: 80%;
        margin: auto;
    }
    span.badge {
        width: 38%;
     
    }
}